<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>ベーシック認証編集</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet"/>
<link rel="stylesheet" href="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

<link href="/colorbox.css" rel="stylesheet"/>
<script src="/jquery.colorbox-min.js"></script>
<script src="/common.js"></script>

<link rel="shortcut icon" href="/icon.png" type="image/png"/>
<link rel="icon" href="/icon.png" type="image/png"/>
<link rel="apple-touch-icon" href="/icon.png"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="Doodle Share Ex"/>

<script>
<% if( user ){ %>
var uuid = '<%= user.displayName %>';
<% }else{ %>
var uuid = generateUUID();
<% } %>
console.log( 'uuid = ' + uuid );

var rooms = [];
$(function(){
  $.extend( $.fn.dataTable.defaults, {
    language: {
      url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json'
    }
  });

  $('#rooms-table-body').html( '' );
  $.ajax({
    type: 'GET',
    url: '/db/rooms?uuid=' + uuid,
    success: function( result ){
      console.log( result );
      if( result && result.status && result.rooms ){
        for( var i = 0; i < result.rooms.length; i ++ ){
          var room = result.rooms[i];
          var tr = '<tr>'
            + '<td><a target="_blank" href="/view?room=' + room.id + '">' + room.id + '</a></td>'
            + '<td><button class="btn btn-xs btn-primary" onClick="toUpdateBasicIDPW(\'' + room.id + '\');">更新</button>'
            + '<button class="btn btn-xs btn-danger" onClick="toDeleteBasicIDPW(\'' + room.id + '\');">削除</button></td>'
            + '</tr>';
          $('#rooms-table-body').append( tr );
        }

        var tr = '<tr>'
          + '<td><input type="text" style="width: 200px;" id="room"/></td>'
          + '<td><button class="btn btn-xs btn-success" onClick="toNewBasicIDPW();">作成</button></td>'
          + '</tr>';
        $('#rooms-table-body').append( tr );
      }else{
      }
    },
    error: function( e0, e1, e2 ){
      console.log( e0, e1, e2 );
    }
  });

  $('#form1').submit( function(){
    var room = $('#room').val();
    if( room ){
      $.ajax({
        type: 'GET',
        url: '/db/room/' + room,
        success: function( result ){
          //console.log( result );
          if( result ){
            if( result.status ){
              //. room が存在している
              alert( '指定したルーム: ' + room + ' は登録済でした。')
              /*
              $('#room').val( '' );
              $('#room_name_2').html( room );
              $('#div_0').css( 'display', 'none' );
              $('#div_2').css( 'display', 'block' );
              $('#div_3').css( 'display', 'block' );
              */
            }else{
              //. room が存在していない
              alert( '指定したルーム: ' + room + ' は未登録でした。認証情報を指定して新規作成が可能です。')
              $('#room').val( '' );
              $('#basic_id').val( uuid );
              $('#basic_password').val( '' );
              $('#room_name_1').html( room );
              $('#div_0').css( 'display', 'none' );
              $('#div_1').css( 'display', 'block' );
              $('#div_2').css( 'display', 'none' );
              $('#div_3').css( 'display', 'none' );
            }
          }
        },
        error: function( e0, e1, e2 ){
          console.log( e0, e1, e2 );
          //. room が存在していない
          alert( '指定したルーム: ' + room + ' は未登録でした。認証情報を指定して新規作成が可能です。')
          $('#room').val( '' );
          $('#basic_id').val( uuid );
          $('#basic_password').val( '' );
          $('#room_name_1').html( room );
          $('#div_0').css( 'display', 'none' );
          $('#div_1').css( 'display', 'block' );
          $('#div_2').css( 'display', 'none' );
          $('#div_3').css( 'display', 'none' );
        }
      });
    }
    return false;
  });
});

function toNewBasicIDPW( room ){
  if( !room ){
    room = $('#room').val();
  }

  if( room ){
    $('#room_name_1').html( room );
    $('#basic_id').val( uuid );
    $('#basic_password').val( '' );

    $('#div_0').css( 'display', 'none' );
    $('#div_1').css( 'display', 'block' );
    $('#div_2').css( 'display', 'none' );
    $('#div_3').css( 'display', 'none' );
  }else{
    alert( 'room の指定が空では作成／更新できません。' );
  }
}

function newBasicIDPW(){
  var room = $('#room_name_1').html();
  if( room ){
    var id = $('#basic_id').val();
    var pw = $('#basic_password').val();
    var data = {
      basic_id: id,
      basic_password: pw,
      uuid: uuid
    };

    $.ajax({
      type: 'POST',
      url: '/db/room/' + room,
      data: data,
      success: function( result ){
        if( result && result.status ){
          console.log( result );
          alert( '指定した room: ' + room  + ' を新規登録しました。' );
          $('#room_name_1').html( '' );
        /*
        $('#div_0').css( 'display', 'block' );
        $('#div_1').css( 'display', 'none' );
        $('#div_2').css( 'display', 'none' );
        $('#div_3').css( 'display', 'none' );
        */
          location.href = '/basicauth';
        }
      },
      error: function( e0, e1, e2 ){
        console.log( e0, e1, e2 );
        alert( '指定した room: ' + room  + ' の作成に失敗しました(' + e2 + ')。' );
      }
    });
  }else{
    alert( 'room の指定が空では作成できません。' );
  }
}

function toUpdateBasicIDPW( room ){
  if( room ){
    $('#room_name_2').html( room );
    $('#old_basic_id').val( uuid );
    console.log( '#old_basic_id: ' + uuid );
    $('#old_basic_password').val( '' );
    $('#new_basic_password').val( '' );

    $('#div_0').css( 'display', 'none' );
    $('#div_1').css( 'display', 'none' );
    $('#div_2').css( 'display', 'block' );
    $('#div_3').css( 'display', 'none' );
  }else{
    alert( 'room の指定が空では作成／更新できません。' );
  }
}

function updateBasicIDPW(){
  var room = $('#room_name_2').html();
  if( room ){
    var id = $('#old_basic_id').val();
    var old_pw = $('#old_basic_password').val();
    var new_pw = $('#new_basic_password').val();
    if( !old_pw && new_pw ){
      alert( 'パスワード無しからパスワード有りへの変更はできません。一度削除してから作りなおしてください。' );
    }else{
      var data = {
        basic_id: id,
        basic_password: old_pw,
        new_basic_id: id,
        new_basic_password: new_pw,
        uuid: uuid
      };

      $.ajax({
        type: 'PUT',
        url: '/db/room/' + room,
        data: data,
        success: function( result ){
          if( result && result.status ){
            console.log( result );
            alert( '指定した room: ' + room  + ' を更新しました。' );
            $('#room_name_2').html( '' );
            /*
            $('#div_0').css( 'display', 'block' );
            $('#div_1').css( 'display', 'none' );
            $('#div_2').css( 'display', 'none' );
            $('#div_3').css( 'display', 'none' );
            */
            location.href = '/basicauth';
          }
        },
        error: function( e0, e1, e2 ){
          console.log( e0, e1, e2 );
          alert( '指定した room: ' + room  + ' の更新に失敗しました(' + e2 + ')。ID & PW が間違っている可能性があります。' );
        }
      });
    }
  }else{
    alert( 'room の指定が空では更新できません。' );
  }
}

function toDeleteBasicIDPW( room ){
  $('#room_name_3').html( room );
  $('#del_basic_id').val( uuid );
  $('#del_basic_password').val( '' );

  $('#div_0').css( 'display', 'none' );
  $('#div_1').css( 'display', 'none' );
  $('#div_2').css( 'display', 'none' );
  $('#div_3').css( 'display', 'block' );
}

function deleteBasicIDPW(){
  var room = $('#room_name_3').html();
  var id = $('#del_basic_id').val();
  var pw = $('#del_basic_password').val();
  var data = {
    basic_id: id,
    basic_password: pw,
    uuid: uuid
  };

  $.ajax({
    type: 'DELETE',
    url: '/db/room/' + room,
    data: data,
    success: function( result ){
      if( result && result.status ){
        console.log( result );
        alert( '指定した room: ' + room  + ' を削除しました。' );
        $('#room_name_3').html( '' );
        /*
        $('#div_0').css( 'display', 'block' );
        $('#div_1').css( 'display', 'none' );
        $('#div_2').css( 'display', 'none' );
        $('#div_3').css( 'display', 'none' );
        */
        location.href = '/basicauth';
      }
    },
    error: function( e0, e1, e2 ){
      console.log( e0, e1, e2 );
      alert( '指定した room: ' + room  + ' の削除に失敗しました(' + e2 + ')。ID & PW が間違っている可能性があります。' );
    }
  });
}

function cancelProcess(){
  $('#room').val( '' );
  $('#div_0').css( 'display', 'block' );
  $('#div_1').css( 'display', 'none' );
  $('#div_2').css( 'display', 'none' );
  $('#div_3').css( 'display', 'none' );
}

function myLogout(){
  if( confirm( 'ログアウトしますか？' ) ){
    //. #28
    location.href = '/auth0/logout?returnTo=' + location.protocol + '//' + location.host + '/basicauth';
  }
}

function myPurchase(){
  if( confirm( 'プライベートルーム購入手続きに移動しますか？' ) ){
    location.href = '/pay/reserve';
  }
}
</script>

<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DoodleShare Ex - ルーム検索</a>
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav ml-auto">
<% if( user ){ %>
    <!-- #28 -->
    <li class="nav-item">
      <a class="btn btn-warning" href="#" onClick="myLogout();" title="<%= user.displayName %>\n（プライベートルーム利用可能回数:<%= user.type %>）"><i class="fas fa-user"></i></a>
      <a class="btn btn-success" href="#" onClick="myPurchase();" title="プライベートルーム利用権購入"><span class="badge badge-pill badge-light"><%= user.type %></span></a>
    </li>
<% } %>
  </ul>
</nav>

<div class="container" id="div_0">
  <div>
    <table style="width: 100%;" class="table table-bordered">
      <thead>
        <tr><th>room</th><th>actions</th></tr>
      </thead>
      <tbody id="rooms-table-body">
      </tbody>
    </table>
  </div>
</div>

<div class="container" id="div_1" style="display:none;">
  <h1 id="room_name_1"></h1>
  <table class="table">
    <tr>
      <td>ID</td>
      <td><input type="text" class="form-control" id="basic_id" disabled="disabled"/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" class="form-control" id="basic_password"
<% if( user && user.type > 0 ){ %>
<% }else{ %>
        readonly="readonly"
<% } %>
        /></td>
    </tr>
  </table>
  <button class="btn btn-xs btn-primary" onClick="newBasicIDPW();">作成</button>
  <button class="btn btn-xs btn-secondary" onClick="cancelProcess();">キャンセル</button>
</div>

<div class="container" id="div_2" style="display:none;">
  <h1 id="room_name_2"></h1>
  <table class="table">
    <tr>
      <td>Current ID</td>
      <td><input type="text" class="form-control" id="old_basic_id" readonly="readonly"/></td>
    </tr>
    <tr>
      <td>Current Password</td>
      <td><input type="password" class="form-control" id="old_basic_password"/></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><input type="password" class="form-control" id="new_basic_password" /></td>
    </tr>
  </table>
  <button class="btn btn-xs btn-primary" onClick="updateBasicIDPW();">更新</button>
  <button class="btn btn-xs btn-secondary" onClick="cancelProcess();">キャンセル</button>
</div>

<div class="container" id="div_3" style="display:none;">
  <h1 id="room_name_3"></h1>
  <table class="table">
    <tr>
      <td>ID</td>
      <td><input type="text" class="form-control" id="del_basic_id" disabled="disabled"/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" class="form-control" id="del_basic_password"/></td>
    </tr>
  </table>
  <button class="btn btn-xs btn-danger" onClick="deleteBasicIDPW();">削除</button>
  <button class="btn btn-xs btn-secondary" onClick="cancelProcess();">キャンセル</button>
</div>

</body>
</html>
